<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>My Profile</title>
  <style>
  section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  padding: 24px 0;
  }
  </style>
</head>
<body>
  <section>
    <div style="text-align: center;">
	    <img src="{% static "MyPhoto.jpg" %}" alt="My Photo" style="width: 250px; border-radius:50%">
      <h1>My Face</h1>
    </div>
    <div>
      <p>Nama: Muhammad Dzikra Muzaki</p>
      <p>NPM: 1806141334</p>
      <p>Riwayat Pendidikan:</p>
      <ul>
        <li>TK: TKIT Nurul Fikri</li>
        <li>SD: SDIT Nurul Fikri</li>
        <li>SMP: SMPIT Nurul Fikri</li>
        <li>SMA: SMA Negeri 2 Depok</li>
      </ul>
      <p>Hobi: Membaca, Bermain Game, Bermain Bulutangkis</p>
      <p>Deskripsi: Saya mahasiswa Fakultas Ilmu Komputer Universitas Indonesia.
      Tertarik dengan perkembangan teknologi dan hal-hal lainnya yang terkait.</p>
    </div>
  <section>
</body>
</html>
